
/*--------------------------------------
			Default Styling
---------------------------------------*/
html {
  overflow-y: scroll;
}

*{
	box-sizing: border-box;
}

body {
	background-color: #A2C4D2;
	font-family: 'Merriweather', serif;
	min-height: 100vh;
}

ul{
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a, a:hover, a:visited, a:active, a:focus{
	color: inherit;
	text-decoration: none;
	font-style: none;
	cursor: pointer;
}

h1{
	font-size: 1.95em;
	line-height: 1.5em;
	margin: 0;
	font-weight: normal;
}

h3{
	margin-top: 0.3em;
	margin-bottom: 0;
}

button:focus, input[type="button"]:focus {
    outline: none;
}


.container{
	width: 615px;
	min-height: 100vh;
	padding-bottom: 2em;
	margin: 0 auto;
	position: relative;
}

.card{
	box-shadow: 0 4px 4px rgba(0,0,0,.25);
	color: #000;
	background-color: #F5f5f5;
	margin-top: 1.5em;
	padding: 1.25em 2.15em;
	width: 100%;
}

#work, #projects, #contact{
	display: none;
}

#content{
	display: flex;
	flex-direction: column;
	width: 100%;
}

#content .card:first-child{
	margin-top: 1em;
}

/*--------------------------------------
				Header
---------------------------------------*/

header{
	position: absolute;
	top: 45%;
  	transform: translateY(-50%);
  	width: 585px;
}

header p{
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.7em;
	color: #7F7F7F;
	margin: 1em 0;
}

header a:hover{
	color: #2B73B9;
}

#main-nav{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

#main-nav button{
	background-color: #14416D;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	width: 6.5em;
	padding: 0.5em 1em;
	border-radius: 25px;
	text-align: center;
	border: none;
	box-shadow: 0 2px 2px rgba(0,0,0,.25);
	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

#main-nav button:hover{
	box-shadow: 4px 4px 8px rgba(0,0,0,.20);
}

/*--------------------------------------
				Work
---------------------------------------*/

#work p{
	margin-top: 1em;
}

/*--------------------------------------
				Projects
---------------------------------------*/

#projects h1{
	width:100%;
}

#projects .content{
	margin-top: 1em;
}

#projects .content::after {
    content: "";
    clear: both;
    display: table;
}

#projects img{
	float: right;
	width: 17.5em;
	height: auto;
	margin-left: 1em;
	margin-bottom: 1em;
	border-radius: 8px;
	/*box-shadow: 0 2px 2px rgba(0,0,0,.25);*/
}

#projects a{
	color: #14416D;
	font-weight: bold;
}

#projects a:hover {
	color: #2B73B9;
}

/*--------------------------------------
				Contact
---------------------------------------*/

#contact ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact li{
	margin: 0.25em 0;
	width: 280px;
}

#contact .contact-type{
	font-size: 1.2em;
	margin-left: 1.25em;
}

#contact .contact-img{
 	height: 35px;
 	width: 35px;
 	border-radius: 50%;
 	background-color: #14416D;
 	color: #fff;
 	box-shadow: 0 2px 2px rgba(0,0,0,.25);
 	text-align: center;
 	vertical-align: middle;
 	font-size: 1.25em;
 	line-height: 35px;
 	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

#contact .contact-img:hover{
	box-shadow: 4px 4px 8px rgba(0,0,0,.20);
}

/*--------------------------------------
				Mobile
---------------------------------------*/

@media (max-width: 620px){
	header{
		width: calc(100% - 30px);
	}

	.container{
		width: 95%;
	}

	#main-nav{
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
	}
	#main-nav li button{
		margin: 0.25em 0;
	}

	#projects img{
		display: block;
		float: none;
		margin: 0 auto 1em auto;
		width: 14em;
	}
}

@media (max-width: 520px){
	h1{
		font-size: 1.5em;
	}
	#main-nav button{
		font-size: 1.0em;
		width: 6em;
		border-radius: 25px;
		text-align: center;
		box-shadow: 0 2px 2px rgba(0,0,0,.25);
		transition: all 0.2s cubic-bezier(.25,.8,.25,1);
	}

	#projects img{
		width: 10em;
	}

	#contact .contact-type{
		font-size: 1em;
	}

	#contact .contact-img{
		height: 30px;
		width: 30px;
		font-size: 1em;
		line-height: 30px;
	}

	#contact li{
		width: 240px;
	}


}

